With open-in-view enabled:

Series 1
2022-12-17T01:24:05.693+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:24:05.694+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:24:05.814+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : 1000 entries fetched
2022-12-17T01:24:05.814+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Time: 120
2022-12-17T01:24:10.869+07:00  INFO 89798 --- [nio-8080-exec-1] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:24:10.870+07:00  INFO 89798 --- [nio-8080-exec-1] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:24:11.247+07:00  INFO 89798 --- [nio-8080-exec-1] c.g.o.controller.TestController          : 10000 entries fetched
2022-12-17T01:24:11.247+07:00  INFO 89798 --- [nio-8080-exec-1] c.g.o.controller.TestController          : Time: 377
2022-12-17T01:24:14.911+07:00  INFO 89798 --- [nio-8080-exec-7] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:24:14.912+07:00  INFO 89798 --- [nio-8080-exec-7] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:24:46.135+07:00  INFO 89798 --- [nio-8080-exec-7] c.g.o.controller.TestController          : 100000 entries fetched
2022-12-17T01:24:46.137+07:00  INFO 89798 --- [nio-8080-exec-7] c.g.o.controller.TestController          : Time: 31225

Series 2
2022-12-17T01:25:06.104+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:25:06.105+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:25:06.128+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : 1000 entries fetched
2022-12-17T01:25:06.129+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Time: 24
2022-12-17T01:25:09.739+07:00  INFO 89798 --- [io-8080-exec-10] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:25:09.740+07:00  INFO 89798 --- [io-8080-exec-10] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:25:10.109+07:00  INFO 89798 --- [io-8080-exec-10] c.g.o.controller.TestController          : 10000 entries fetched
2022-12-17T01:25:10.109+07:00  INFO 89798 --- [io-8080-exec-10] c.g.o.controller.TestController          : Time: 369
2022-12-17T01:25:13.419+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:25:13.419+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:25:44.578+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : 100000 entries fetched
2022-12-17T01:25:44.579+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : Time: 31160

Series 3
2022-12-17T01:26:06.616+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:26:06.616+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:26:06.638+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : 1000 entries fetched
2022-12-17T01:26:06.638+07:00  INFO 89798 --- [nio-8080-exec-2] c.g.o.controller.TestController          : Time: 22
2022-12-17T01:26:10.031+07:00  INFO 89798 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:26:10.035+07:00  INFO 89798 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:26:10.407+07:00  INFO 89798 --- [nio-8080-exec-9] c.g.o.controller.TestController          : 10000 entries fetched
2022-12-17T01:26:10.407+07:00  INFO 89798 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Time: 372
2022-12-17T01:26:13.705+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Test with open-in-view enabled
2022-12-17T01:26:13.705+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:26:44.984+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : 100000 entries fetched
2022-12-17T01:26:44.985+07:00  INFO 89798 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Time: 31280

With open-in-view disabled:

Series 1
2022-12-17T01:29:04.838+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:29:04.838+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:29:05.005+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : 1000 entries fetched
2022-12-17T01:29:05.005+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : Time: 167
2022-12-17T01:29:08.698+07:00  INFO 89811 --- [io-8080-exec-10] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:29:08.698+07:00  INFO 89811 --- [io-8080-exec-10] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:29:09.074+07:00  INFO 89811 --- [io-8080-exec-10] c.g.o.controller.TestController          : 10000 entries fetched
2022-12-17T01:29:09.074+07:00  INFO 89811 --- [io-8080-exec-10] c.g.o.controller.TestController          : Time: 376
2022-12-17T01:29:12.965+07:00  INFO 89811 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:29:12.966+07:00  INFO 89811 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:29:44.221+07:00  INFO 89811 --- [nio-8080-exec-8] c.g.o.controller.TestController          : 100000 entries fetched
2022-12-17T01:29:44.224+07:00  INFO 89811 --- [nio-8080-exec-8] c.g.o.controller.TestController          : Time: 31258

Series 2
2022-12-17T01:29:52.002+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:29:52.003+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:29:52.028+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : 1000 entries fetched
2022-12-17T01:29:52.028+07:00  INFO 89811 --- [nio-8080-exec-3] c.g.o.controller.TestController          : Time: 25
2022-12-17T01:29:55.702+07:00  INFO 89811 --- [nio-8080-exec-5] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:29:55.702+07:00  INFO 89811 --- [nio-8080-exec-5] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:29:56.065+07:00  INFO 89811 --- [nio-8080-exec-5] c.g.o.controller.TestController          : 10000 entries fetched
2022-12-17T01:29:56.065+07:00  INFO 89811 --- [nio-8080-exec-5] c.g.o.controller.TestController          : Time: 363
2022-12-17T01:29:59.530+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:29:59.531+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:30:30.525+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : 100000 entries fetched
2022-12-17T01:30:30.525+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Time: 30994

Series 3
2022-12-17T01:30:41.442+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:30:41.442+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:30:41.461+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : 1000 entries fetched
2022-12-17T01:30:41.461+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : Time: 19
2022-12-17T01:30:45.847+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:30:45.850+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:30:46.216+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : 10000 entries fetched
2022-12-17T01:30:46.216+07:00  INFO 89811 --- [nio-8080-exec-4] c.g.o.controller.TestController          : Time: 366
2022-12-17T01:30:52.180+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Test with open-in-view disabled
2022-12-17T01:30:52.181+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Fetching entries ...
2022-12-17T01:31:23.240+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : 100000 entries fetched
2022-12-17T01:31:23.240+07:00  INFO 89811 --- [nio-8080-exec-9] c.g.o.controller.TestController          : Time: 31059
